<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FEL_ONE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DocumentoSoapBinding" maxReceivedMessageSize="5242880">
                    <security mode="Transport" />
                </binding>
                <binding name="DocumentoSoapBinding1" maxReceivedMessageSize="5242880" />
                <binding name="AnulacionSoapBinding" maxReceivedMessageSize="5242880">
                    <security mode="Transport" />
                </binding>
                <binding name="AnulacionSoapBinding1" maxReceivedMessageSize="5242880" />
                <binding name="ReceptorInfoSoapBinding" maxReceivedMessageSize="5242880">
                    <security mode="Transport" />
                </binding>
                <binding name="ReceptorInfoSoapBinding1" maxReceivedMessageSize="5242880" />
                <binding name="DocumentoSoapBinding2" maxReceivedMessageSize="5242880" />
                <binding name="AnulacionSoapBinding2" maxReceivedMessageSize="5242880" />
                <binding name="ReceptorInfoSoapBinding2" maxReceivedMessageSize="5242880" />
                <binding name="FactWSFrontSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="FactWSFrontSoap1" />
                <binding name="Guatefac">
                    <security mode="Transport" />
                </binding>
                <binding name="Guatefac1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.facturaenlineagt.com/adocumento"
                binding="basicHttpBinding" bindingConfiguration="DocumentoSoapBinding"
                contract="Documento.DocumentoSoapPort" name="DocumentoSoapPort" />
            <endpoint address="https://www.facturaenlineagt.com/aanulacion"
                binding="basicHttpBinding" bindingConfiguration="AnulacionSoapBinding"
                contract="Anulacion.AnulacionSoapPort" name="AnulacionSoapPort" />
            <endpoint address="https://www.facturaenlineagt.com/areceptorinfo"
                binding="basicHttpBinding" bindingConfiguration="ReceptorInfoSoapBinding"
                contract="ReceptorInfo.ReceptorInfoSoapPort" name="ReceptorInfoSoapPort" />
            <endpoint address="http://pruebas.ecofactura.com.gt:8080/fel/adocumento"
                binding="basicHttpBinding" bindingConfiguration="DocumentoSoapBinding2"
                contract="DocumentoTest.DocumentoSoapPort" name="DocumentoSoapPort1" />
            <endpoint address="http://pruebas.ecofactura.com.gt:8080/fel/aanulacion"
                binding="basicHttpBinding" bindingConfiguration="AnulacionSoapBinding2"
                contract="AnulacionTest.AnulacionSoapPort" name="AnulacionSoapPort1" />
            <endpoint address="http://pruebas.ecofactura.com.gt:8080/fel/areceptorinfo"
                binding="basicHttpBinding" bindingConfiguration="ReceptorInfoSoapBinding2"
                contract="ReceptorInfoTest.ReceptorInfoSoapPort" name="ReceptorInfoSoapPort1" />
            <endpoint address="https://pruebasfel.g4sdocumenta.com/webservicefront/factwsfront.asmx"
                binding="basicHttpBinding" bindingConfiguration="FactWSFrontSoap"
                contract="g4sDocumenta.FactWSFrontSoap" name="FactWSFrontSoap" />
            <endpoint address="https://pdte.guatefacturas.com:443/webservices63/feltestSB/Guatefac"
                binding="basicHttpBinding" bindingConfiguration="Guatefac"
                contract="Guatefacturas.Guatefac" name="GuatefacPort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <FEL_ONE.Properties.Settings>
            <setting name="FEL_ONE_com_g4sdocumenta_pruebasfel_FactWSFront"
                serializeAs="String">
                <value>https://pruebasfel.g4sdocumenta.com/webservicefront/factwsfront.asmx</value>
            </setting>
            <setting name="FEL_ONE_com_guatefacturas_dte_Guatefac" serializeAs="String">
                <value>https://pdte.guatefacturas.com:443/webservices63/feltestSB/Guatefac</value>
            </setting>
        </FEL_ONE.Properties.Settings>
    </applicationSettings>
</configuration>